<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <system.webServer>

    <rewrite>
      <rules>

        <!-- API Proxy -->
        <rule name="API Proxy" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:5000/api/{R:1}" />
        </rule>

        <!-- Swagger Proxy -->
        <rule name="Swagger Proxy" stopProcessing="true">
          <match url="^swagger(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:5000/swagger{R:1}" />
        </rule>

        <!-- React SPA -->
        <rule name="React SPA" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>

      </rules>
    </rewrite>

  </system.webServer>

</configuration>